<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">

                <h2>Login</h2>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control">

                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control">

                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    {% if messages %}
                    {% for m in messages %}
                    {% if m.tags == 'success'%}
                    <div class="alert alert-success">
                        {{m}}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        {{m}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </form>

            </div>
        </div>
    </div>



</body>

</html>