<div class="card">
    <h4 class="card-header"></h4>
    <div class="card-body">
        <h5 class="card-title">{{i.direccion}}</h5>
        <div class="card-title">{{i.reference}}</div>
        <div class="card-title">{{i.postal_code}}</div>
        <div class="mt-3">
            <a href="{% url 'update' i.pk %}" class="btn btn-primary">Editar</a>
            {% if i.default %}
            <div>
                <span class="badge bg-success">Direccion Principal</span>
            </div>
            {% else %}
            <a href="{% url 'default' i.pk %}" class="btn btn-warning">Establecer por defecto</a>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'remove' i.pk %}" class="btn btn-danger">Eliminar</a>
            </div>

            {% endif %}
        </div>
    </div>
</div>