{% extends "base.html" %}

{% load static %}

{% block content %}
<h1>{{mensaje}}</h1>
<ul class="list-group">
    <ul>
        {%for i in articulos%}

        <li class="list-group-item">
            {{i.titulo}}

            <span>
                {% if i.stock %}
                <span class="text-success">En Stock </span>

                {%else%}
                <span class="text-danger">Sin stock</span>
                {%endif%}
            </span>
        </li>
        {%endfor%}

        <img src="{% static 'Images/gorra.jpg' %}" width="100">
    </ul>

    </div>
    </div>
    {% endblock %}