{% url 'login' as login %}
{% url 'registration' as registration %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TiendaB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>






    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'logout' %}">
                    <span class=" fa-solid fa-right-from-bracket"></span>
                    Salir</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == login %} active {% endif %}" href="{{login}}">
                    <span class="fa-solid fa-right-to-bracket"></span>
                    Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == registration %} active {% endif %}" href="{{registration}}">
                    <span class="fa-solid fa-user-plus"></span>
                    Registro</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>