{% extends "base.html" %}

{% block breadcrumb %}
{% include 'orden/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
<div class="col">

    {% if direccion_envio %}
    <div class="h3">
        Tu pedido esta a punto de llegar a la direccion establecida
    </div>
    <div>
        {% include "direccion_envios/snippets/cartDirecciones.html" %}
        {% if countDireccion %}
        <div class="mt-2">
            <a class="btn btn-primary" href="{% url 'select_direccion' %}">Seleccionar direccion</a>
        </div>
        {% endif %}

    </div>
    {% else %}
    <div class="h3">Registra tu direccion</div>
    <div class="">
        {% url 'direccion' as next_url %}
        <a class="btn btn-primary" href="{% url 'formularioDir' %}?next={{ next_url }}">Crear nueva direccion</a>
    </div>
    {% endif %}
</div>


{% endblock %}