{% extends "base.html" %}

{% block breadcrumb %}
{% include 'orden/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}

<div class="col">
    <div class="h3">
        Selecciona una direccion para el envio
    </div>
    <div class="mt-2">
        {% for direccion_envio in direccion_envios %}
        <div class="card mb-2">
            <div class="card-body text-white bg-dark">
                <h5 class="card-title">{{direccion_envio.direccion}}</h5>
                <p class="card-text">{{ direccion_envio.postal_code }}</p>
                <a class="btn btn-primary" href="{% url 'check_direccion' direccion_envio.pk %}">Seleccionar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}