{% load funcion_tag %}
<div class="container mt-4">
    <div class="card mb-3 w-100">
        <div class="card-body">
            <h5 class="card-title">Resumen del pedido</h5>
        </div>
        <div>
            <table class="table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <th>{{cart.total |precio_tag}}</th>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td>{{orden.envio_total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <hr>
            <div class="text-danger">
                Total {impuestos incluidos}
                <div class="d-inline-block">
                    {{orden.total | precio_tag}}

                </div>
            </div>
            <div class="d-grid gap-2 mt-2">
                <a class="btn btn-warning" href="{{ next_url }}">Continuar</a>
            </div>

        </div>
    </div>
</div>